<!DOCTYPE html>
<html>
	<head>
		<title><%= member %>'s Page</title>
	</head>
	<body>
		<p>Welcome <%= member %></p>
		<button id='getMovies'>Get Movies</button>
		<div id='movieArea'></div>
	</body>
</html>